<section class="container">
  <h3 class="post-name">{{post.name}}</h3>
  <h4>Opening Hour: </h4>
  <h4>Closing Hour: </h4>
  <section class="flex-row justify-center">
    {{#each post }}
    {{> post.text}}
    {{/each}}
  </section>
</section>